@import 'variables';
@import 'nouislider.min.scss';


/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: $main-font;
}

.construction-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30,30,30,1);
  .construction-banner {
    color: white;
    text-align: center;
    margin: 100px auto auto auto;
  }
}

.site-wrapper {

  .home-background-1 {
    background: url('../assets/home-main-1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 800px;

    .nav-wrapper {
      width: 100%;

      .main-nav {
        position: absolute;
        left: 50px;
        top: 30px;

        a {
          position: relative;
          text-decoration: none;
          color: white;
          margin-right: 55px;
          font-size: 1.7em;
          text-shadow: 2px 2px 5px black;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .social-icons-backdrop {
        position: absolute;
        top: 0;
        right: 120px;
        width: 235px;
        height: 80px;

        svg {
          position: relative;
          top: 10px;
          width: 40px;
          height: 40px;
          margin-left: 15px;
          z-index: 1;
          transition: all .1s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }

        img {
          position: absolute;
          width: 235px;
          top: 0;
          left: 0;
        }
      }
    }

    .main-banner {
      width: 100%;

      .main-logo {
        text-align: center;

        svg {
          width: 260px;
          height: 250px;
          margin: 80px auto 0 auto;
        }
      }

      .headline {
        text-align: center;
        width: 600px;
        margin: 10px auto;
        text-shadow: 2px 2px 5px black;
        font-size: 3.2em;
        color: white;
      }

      .main-chat-button {
        width: 150px;
        height: 50px;
        margin: 20px auto;
        text-align: center;
        line-height: 50px;
        background: $hapi-green;
        border-radius: 5px;
        color: rgba(255,255,255,1);
        cursor: pointer;
        border: 2px solid rgba(0,0,0,0);
        transition: all .5s;

        &:hover {
          transform: rotateY(360deg);
        }
      }
    }
  }

  .price-slider-wrapper {
    h3 {
      padding: 20pt 0 20pt 0;
      max-width: 80%;
      margin: auto;
      font-size: 2em;
    }
    h4 {
      padding: 0;
      margin: auto;
      max-width: 80%;
      text-align: center;
      height: 10px;
      font-size: 1.2em;
    }

    #home-price-slider {
      margin: auto;
      margin-top: 20pt;
      display: block;
      width: 80%;
      background: $hapi-green;

      .noUi-origin, .noUi-stacking {
        background: rgba(245, 245, 245, 1);
      }
    }
    .cost-table {
      position: relative;
      top: -40pt;
      width: 80%;
      margin: auto;
      tr {
        text-align: left;
        line-height: 25pt;
        vertical-align: middle;
        border-bottom: 1px solid black;
      }
      th {
        font-size: 1.2em;
        line-height: 30pt;
      }
      tr:first-child {
        height: 55pt;
        vertical-align: top;
        border: none;
        td:first-child {
          text-align: left;
        }
        td:last-child {
          text-align: right;
        }
       }
       tr:last-child {
         line-height: 60pt;
         font-size: 1.5em;
         border: none;
       }
      .hapi-fee {
        color: $hapi-blue;
      }
      .you-save {
        color: $hapi-green;
        font-weight: bold;
      }
    }
  }

  .kitchen-bg-wrapper {
    height: 800pt;
    // background: url('../assets/kitchen-1.jpg') no-repeat center center;
    .home-elevator-banner {
      width: 100%;
      background: url('../assets/home-elevator-banner@2x.png') no-repeat center center;
      border-top: 2px solid $hapi-blue;
      border-bottom: 2px solid $hapi-blue;

      p {
        padding: 15pt 10%;
        font-size: 1.5em;
        line-height: 25pt;

        .highlight {
          color: $hapi-blue;
        }
      }
    }

    .contact-us-wrapper {
      width: 800px;
      display: block;
      margin: 50px auto;
      #home-contact-us {
        width: 200px;
        height: 50px;
        display: block;
        margin: 50px auto;
        color: rgba(255,255,255,1);
        background: $hapi-blue;

        &:focus {
          border: none;
        }
      }

      .contact-form-wrapper {
        width: 800px;
        height: 600px;
        display: none;
        margin: 0 auto;
        padding: 50px;
        background: $hapi-blue;
        color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        border: 3px solid rgba(220,220,220,1);
        box-shadow: 1px 1px 6px rgba(0,0,0,1);

        h3 {
          font-size: 2em;
          margin: 0 0 25px 0;
        }

        .cf-content {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .col-1, .col-1 {
            width: 300px;
          }

          .col-1 {
            border-top: 4px solid rgba(255,255,255,1);
            .cf-form {
              width: 300px;
              height: 370px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .cf-text-input {
                display: block;
                width: 100%;
                height: 30px;
                background: rgba(180,180,180,1);
                color: $hapi-blue;
                border: none;
                padding: 0 10px;


                &:first-of-type {
                  margin-top: 10px;
                }
              }
              .cf-textarea-input {
                height: 150px;
                background: rgba(180,180,180,1);
                color: $hapi-blue;
                margin-top: 10px;
                border: none;
                line-height: 15px;
              }
            }
          }

          .col-2 {
            border-top: 4px solid rgba(255,255,255,1);
            border-bottom: 4px solid rgba(255,255,255,1);
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 1.5em;

            .info-1 {
              p {
                margin: 5px;
              }
            }

            .info-2 {
              p {
                margin: 5px;
              }
            }
          }
        }

        .cf-footer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-top: 25px;

          #cf-submit, #cf-cancel {
            background: rgba(0,0,0,0);
            border: 5px solid rgba(255,255,255,1);
            color: rgba(255,255,255,1);
            width: 120px;
            height: 50px;
            &:active {
              background: rgba(180,180,180,1);
            }
          }
        }
      }
    }
  }


}

::-webkit-input-placeholder {
  color: $hapi-blue;
  opacity: .8;
}
::-moz-input-placeholder {
  color: $hapi-blue;
  opacity: .8;
}
:-ms-input-placeholder {
  color: $hapi-blue;
  opacity: .8;
}
:-moz-input-placeholder {
  color: $hapi-blue;
  opacity: .8;
}

textarea::-webkit-input-placeholder {
  color: $hapi-blue;
  text-align: center;
  line-height: 150px;
  font-size: 2em;
  opacity: .8;
}
*:focus {
  outline: none;
}
