/*! nouislider - 8.5.1 - 2016-04-24 16:00:30 */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-stacking .noUi-handle {
  z-index: 10; }

.noUi-state-tap .noUi-origin {
  -webkit-transition: left .3s,top .3s;
  transition: left .3s,top .3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-base, .noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.noUi-horizontal {
  height: 18px; }

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0; }

.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms; }

.noUi-origin {
  border-radius: 2px; }

.noUi-target {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB; }

.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbbbbb; }

.noUi-draggable {
  cursor: w-resize; }

.noUi-vertical .noUi-draggable {
  cursor: n-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB; }

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

[disabled] .noUi-connect, [disabled].noUi-connect {
  background: #B8B8B8; }

[disabled] .noUi-handle, [disabled].noUi-origin {
  cursor: not-allowed; }

.noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

.noUi-value {
  position: absolute;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-large, .noUi-marker-sub {
  background: #AAA; }

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  padding-left: 25px; }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  padding: 5px;
  text-align: center; }

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  top: -32px; }

.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  bottom: -32px; }

.noUi-vertical .noUi-handle-lower .noUi-tooltip {
  left: 120%; }

.noUi-vertical .noUi-handle-upper .noUi-tooltip {
  right: 120%; }

/* CSS Normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Box-sizing border-box */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Droid Sans", sans-serif; }

.construction-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e; }
  .construction-wrapper .construction-banner {
    color: white;
    text-align: center;
    margin: 100px auto auto auto; }

.site-wrapper .home-background-1 {
  background: url("../assets/home-main-1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 800px; }
  .site-wrapper .home-background-1 .nav-wrapper {
    width: 100%; }
    .site-wrapper .home-background-1 .nav-wrapper .main-nav {
      position: absolute;
      left: 50px;
      top: 30px; }
      .site-wrapper .home-background-1 .nav-wrapper .main-nav a {
        position: relative;
        text-decoration: none;
        color: white;
        margin-right: 55px;
        font-size: 1.7em;
        text-shadow: 2px 2px 5px black; }
        .site-wrapper .home-background-1 .nav-wrapper .main-nav a:hover {
          text-decoration: underline; }
    .site-wrapper .home-background-1 .nav-wrapper .social-icons-backdrop {
      position: absolute;
      top: 0;
      right: 120px;
      width: 235px;
      height: 80px; }
      .site-wrapper .home-background-1 .nav-wrapper .social-icons-backdrop svg {
        position: relative;
        top: 10px;
        width: 40px;
        height: 40px;
        margin-left: 15px;
        z-index: 1;
        transition: all .1s ease-in-out; }
        .site-wrapper .home-background-1 .nav-wrapper .social-icons-backdrop svg:hover {
          transform: scale(1.2); }
      .site-wrapper .home-background-1 .nav-wrapper .social-icons-backdrop img {
        position: absolute;
        width: 235px;
        top: 0;
        left: 0; }
  .site-wrapper .home-background-1 .main-banner {
    width: 100%; }
    .site-wrapper .home-background-1 .main-banner .main-logo {
      text-align: center; }
      .site-wrapper .home-background-1 .main-banner .main-logo svg {
        width: 260px;
        height: 250px;
        margin: 80px auto 0 auto; }
    .site-wrapper .home-background-1 .main-banner .headline {
      text-align: center;
      width: 600px;
      margin: 10px auto;
      text-shadow: 2px 2px 5px black;
      font-size: 3.2em;
      color: white; }
    .site-wrapper .home-background-1 .main-banner .main-chat-button {
      width: 150px;
      height: 50px;
      margin: 20px auto;
      text-align: center;
      line-height: 50px;
      background: #7ed321;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all .5s; }
      .site-wrapper .home-background-1 .main-banner .main-chat-button:hover {
        transform: rotateY(360deg); }
.site-wrapper .price-slider-wrapper h3 {
  padding: 20pt 0 20pt 0;
  max-width: 80%;
  margin: auto;
  font-size: 2em; }
.site-wrapper .price-slider-wrapper h4 {
  padding: 0;
  margin: auto;
  max-width: 80%;
  text-align: center;
  height: 10px;
  font-size: 1.2em; }
.site-wrapper .price-slider-wrapper #home-price-slider {
  margin: auto;
  margin-top: 20pt;
  display: block;
  width: 80%;
  background: #7ed321; }
  .site-wrapper .price-slider-wrapper #home-price-slider .noUi-origin, .site-wrapper .price-slider-wrapper #home-price-slider .noUi-stacking {
    background: whitesmoke; }
.site-wrapper .price-slider-wrapper .cost-table {
  position: relative;
  top: -40pt;
  width: 80%;
  margin: auto; }
  .site-wrapper .price-slider-wrapper .cost-table tr {
    text-align: left;
    line-height: 25pt;
    vertical-align: middle;
    border-bottom: 1px solid black; }
  .site-wrapper .price-slider-wrapper .cost-table th {
    font-size: 1.2em;
    line-height: 30pt; }
  .site-wrapper .price-slider-wrapper .cost-table tr:first-child {
    height: 55pt;
    vertical-align: top;
    border: none; }
    .site-wrapper .price-slider-wrapper .cost-table tr:first-child td:first-child {
      text-align: left; }
    .site-wrapper .price-slider-wrapper .cost-table tr:first-child td:last-child {
      text-align: right; }
  .site-wrapper .price-slider-wrapper .cost-table tr:last-child {
    line-height: 60pt;
    font-size: 1.5em;
    border: none; }
  .site-wrapper .price-slider-wrapper .cost-table .hapi-fee {
    color: #3954a5; }
  .site-wrapper .price-slider-wrapper .cost-table .you-save {
    color: #7ed321;
    font-weight: bold; }
.site-wrapper .kitchen-bg-wrapper {
  height: auto; }
  .site-wrapper .kitchen-bg-wrapper .home-elevator-banner {
    width: 100%;
    background: url("../assets/home-elevator-banner@2x.png") no-repeat center center;
    border-top: 2px solid #3954a5;
    border-bottom: 2px solid #3954a5; }
    .site-wrapper .kitchen-bg-wrapper .home-elevator-banner p {
      padding: 15pt 10%;
      font-size: 1.5em;
      line-height: 25pt; }
      .site-wrapper .kitchen-bg-wrapper .home-elevator-banner p .highlight {
        color: #3954a5; }
  .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper {
    width: 800px;
    display: block;
    margin: 50px auto; }
    .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper #home-contact-us {
      width: 200px;
      height: 50px;
      display: block;
      margin: 50px auto;
      color: white;
      background: #3954a5; }
      .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper #home-contact-us:focus {
        border: none; }
    .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper {
      width: auto;
      height: 600px;
      display: none;
      margin: 0 auto;
      padding: 50px;
      background: #3954a5;
      color: white;
      border-radius: 5px;
      border: 3px solid gainsboro;
      box-shadow: 1px 1px 6px black; }
      .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper h3 {
        font-size: 2em;
        margin: 0 0 25px 0; }
      .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-1, .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-1 {
          width: 300px; }
        .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-1 {
          border-top: 4px solid white; }
          .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-1 .cf-form {
            width: 300px;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: space-around; }
            .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-1 .cf-form .cf-text-input {
              display: block;
              width: 100%;
              height: 30px;
              background: #b4b4b4;
              color: #3954a5;
              border: none;
              padding: 0 10px; }
              .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-1 .cf-form .cf-text-input:first-of-type {
                margin-top: 10px; }
            .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-1 .cf-form .cf-textarea-input {
              height: 150px;
              background: #b4b4b4;
              color: #3954a5;
              margin-top: 10px;
              border: none;
              line-height: 15px; }
        .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-2 {
          border-top: 4px solid white;
          border-bottom: 4px solid white;
          width: 300px;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          font-size: 1.5em; }
          .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-2 .info-1 p {
            margin: 5px; }
          .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-content .col-2 .info-2 p {
            margin: 5px; }
      .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 25px; }
        .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-footer #cf-submit, .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-footer #cf-cancel {
          background: transparent;
          border: 5px solid white;
          color: white;
          width: 120px;
          height: 50px; }
          .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-footer #cf-submit:active, .site-wrapper .kitchen-bg-wrapper .contact-us-wrapper .contact-form-wrapper .cf-footer #cf-cancel:active {
            background: #b4b4b4; }
.site-wrapper .big-home-links {
  font-size: 3.5em;
  margin: 50pt 0 50pt 0;
  width: 100%;
  display: flex; }
  .site-wrapper .big-home-links .link1, .site-wrapper .big-home-links .link2 {
    text-decoration: none;
    color: #3954a5;
    height: 150pt;
    line-height: 150pt; }
    .site-wrapper .big-home-links .link1 .big-green-hapi, .site-wrapper .big-home-links .link2 .big-green-hapi {
      color: #7ed321; }
  .site-wrapper .big-home-links .link1 {
    text-align: right;
    width: 50%;
    padding-right: 50pt;
    padding-left: 2.5pt;
    border-right: 5pt solid #dadee8; }
  .site-wrapper .big-home-links .link2 {
    text-align: left;
    width: 50%;
    padding-left: 50pt; }
.site-wrapper .footer-wrapper {
  width: 100%;
  height: auto;
  display: block;
  background: url("../assets/home-elevator-banner@2x.png") no-repeat center center;
  border-top: 2px solid #3954a5; }
  .site-wrapper .footer-wrapper .footer-headline {
    display: flex;
    justify-content: center; }
    .site-wrapper .footer-wrapper .footer-headline .footer-headline-el {
      padding: 0 10pt 0 0;
      font-size: .9em;
      line-height: 20pt; }
      .site-wrapper .footer-wrapper .footer-headline .footer-headline-el:last-of-type {
        font-size: 1.5em; }
  .site-wrapper .footer-wrapper .center-info {
    margin: 20pt 50pt 20pt 50pt;
    display: flex;
    justify-content: center; }
    .site-wrapper .footer-wrapper .center-info img {
      margin-right: 20pt; }
    .site-wrapper .footer-wrapper .center-info .line1 p {
      display: inline-block;
      padding: 0 10pt 0 10pt;
      border-right: 2px solid black; }
      .site-wrapper .footer-wrapper .center-info .line1 p:first-of-type {
        padding-left: 0; }
      .site-wrapper .footer-wrapper .center-info .line1 p:last-of-type {
        border-right: none; }
    .site-wrapper .footer-wrapper .center-info .line2 .footer-links {
      padding-right: 15pt;
      color: #3954a5;
      text-decoration: none; }
  .site-wrapper .footer-wrapper .copyright {
    width: 100%;
    margin: 0;
    padding: 0 0 5pt 0;
    display: block;
    text-align: center;
    font-size: .8em; }

::-webkit-input-placeholder {
  color: #3954a5;
  opacity: .8; }

::-moz-input-placeholder {
  color: #3954a5;
  opacity: .8; }

:-ms-input-placeholder {
  color: #3954a5;
  opacity: .8; }

:-moz-input-placeholder {
  color: #3954a5;
  opacity: .8; }

textarea::-webkit-input-placeholder {
  color: #3954a5;
  text-align: center;
  line-height: 150px;
  font-size: 2em;
  opacity: .8; }

*:focus {
  outline: none; }

.site-wrapper .buy-background-1 {
  background: url("../assets/brick-window.jpeg") no-repeat top center;
  background-size: cover;
  padding-bottom: 30px;
  width: 100%;
  height: auto; }
  .site-wrapper .buy-background-1 .nav-wrapper {
    width: 100%; }
    .site-wrapper .buy-background-1 .nav-wrapper .main-nav {
      position: absolute;
      left: 50px;
      top: 30px; }
      .site-wrapper .buy-background-1 .nav-wrapper .main-nav a {
        position: relative;
        text-decoration: none;
        color: white;
        margin-right: 55px;
        font-size: 1.7em;
        text-shadow: 2px 2px 5px black; }
        .site-wrapper .buy-background-1 .nav-wrapper .main-nav a:hover {
          text-decoration: underline; }
    .site-wrapper .buy-background-1 .nav-wrapper .social-icons-backdrop {
      position: absolute;
      top: 0;
      right: 120px;
      width: 235px;
      height: 80px; }
      .site-wrapper .buy-background-1 .nav-wrapper .social-icons-backdrop svg {
        position: relative;
        top: 10px;
        width: 40px;
        height: 40px;
        margin-left: 15px;
        z-index: 1;
        transition: all .1s ease-in-out; }
        .site-wrapper .buy-background-1 .nav-wrapper .social-icons-backdrop svg:hover {
          transform: scale(1.2); }
      .site-wrapper .buy-background-1 .nav-wrapper .social-icons-backdrop img {
        position: absolute;
        width: 235px;
        top: 0;
        left: 0; }
  .site-wrapper .buy-background-1 .main-banner {
    width: 100%;
    margin-bottom: 200px; }
    .site-wrapper .buy-background-1 .main-banner .main-logo {
      text-align: center; }
      .site-wrapper .buy-background-1 .main-banner .main-logo svg {
        width: 260px;
        height: 250px;
        margin: 80px auto 0 auto; }
    .site-wrapper .buy-background-1 .main-banner .headline {
      text-align: center;
      width: 80%;
      margin: 10px auto;
      text-shadow: 2px 2px 5px black;
      font-size: 3.2em;
      color: white; }
  .site-wrapper .buy-background-1 .buy-banner {
    display: flex;
    justify-content: space-around;
    margin: 100px auto 0 auto;
    width: 100%;
    height: auto;
    background: url("../assets/buy-sell-banner.svg") no-repeat top center; }
    .site-wrapper .buy-background-1 .buy-banner .message-wrapper {
      display: table; }
      .site-wrapper .buy-background-1 .buy-banner .message-wrapper #bb-message {
        color: #3954a5;
        display: table-cell;
        font-size: 1.5em;
        width: 550px;
        height: 200px;
        vertical-align: middle; }
    .site-wrapper .buy-background-1 .buy-banner h2 {
      font-size: 4em; }
      .site-wrapper .buy-background-1 .buy-banner h2 span:first-child {
        color: #3954a5;
        padding-right: 20px; }
      .site-wrapper .buy-background-1 .buy-banner h2 span:nth-child(2) {
        color: #7ed321; }
  .site-wrapper .buy-background-1 .dont-settle {
    display: block;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 15px 10% 15px 10%;
    margin: 300px 0 10px 0; }
    .site-wrapper .buy-background-1 .dont-settle #ds-title {
      font-size: 3em;
      margin: 0 50px 0 50px; }
    .site-wrapper .buy-background-1 .dont-settle .ds-message {
      font-size: 1.2em;
      padding: 30px 100px 10px 100px;
      margin: 0; }
.site-wrapper .support-team {
  width: 100%;
  height: 800px;
  margin: auto; }
  .site-wrapper .support-team .pics {
    width: 800px;
    height: 500px;
    margin: 100px auto 100px auto;
    position: relative; }
    .site-wrapper .support-team .pics .pic {
      position: absolute;
      display: block;
      border: 1px solid #3954a5;
      width: 200px;
      height: 200px;
      background: #7ed321; }
    .site-wrapper .support-team .pics #cool1 {
      z-index: 1;
      left: 130px; }
      .site-wrapper .support-team .pics #cool1:hover {
        left: 90px; }
    .site-wrapper .support-team .pics #cool2 {
      z-index: 2;
      left: 300px; }
      .site-wrapper .support-team .pics #cool2:hover {
        left: 260px; }
    .site-wrapper .support-team .pics #cool3 {
      z-index: 3;
      left: 470px; }
      .site-wrapper .support-team .pics #cool3:hover {
        left: 430px; }
    .site-wrapper .support-team .pics .comment-box1 {
      display: block;
      position: absolute;
      left: 80px;
      padding-top: 210px;
      width: 700px;
      height: 600px; }

svg {
  width: 100%;
  height: 100%; }
